@model PersonViewModel
@{
    ViewData["Title"] = "Web Sample Home";
}

@section Scripts
    {
    @Html.Partial("_ValidationScriptsPartial")
}

<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Message"]</h3>

<br />
<br />

@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Age)
            @Html.ValidationMessageFor(m => m.Age)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone)
            @Html.ValidationMessageFor(m => m.Phone)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ContactPreferences.ContactByEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.ContactPreferences.ContactByEmail)
            @Html.ValidationMessageFor(m => m.ContactPreferences.ContactByEmail)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ContactPreferences.ContactByPhone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.ContactPreferences.ContactByPhone)
            @Html.ValidationMessageFor(m => m.ContactPreferences.ContactByPhone)
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
}